.banner{
	background-image:linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),url(../../images/background.png);
	color: white;
	padding: 100px;
	background-size: cover;
	background-position:center;
}


.banner h1{
	font-size: 50px;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

.banner h2{
	font-size: 30px; 
	font-weight: lighter;
	Opacity: 0.7;
	margin-top:20px;
	margin-bottom: 20px;
}

.btn-blue {
    display: inline-block;
    margin-top: 10px;
}
 